*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
label {
    font-weight: bold;
    margin: 10px 0 0 0;
}

input[type="text"], input[type="date"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 100%;
    box-sizing: border-box;
}   

input[type="text"]:focus, input[type="date"]:focus {
    border-color: #0056b3;
    outline: none;
}
.submitBTN {
    grid-column: 1 / -1; /* Make the div span across all columns */
    display: flex; /* Use flexbox for centering the button */
    justify-content: center; /* Center horizontally */
    margin-top: 1rem; /* Optional spacing above the button */
}
.submitBTN input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #0056b3;
    width: 300px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitBTN input[type="submit"]:hover {
    transform: translateY(-3px);
    background-color: #003d82;
}

.boar-table{
    border-collapse: collapse;
    min-width: 100%;
    border-radius: 5px;
    box-shadow: 0 10px 30px 5px rgba(0,0,0,0.15);
    margin: 25px auto;
    text-align: center;
}

.boar-table thead tr{
    border-bottom: 1px dashed #333;
}
.baor-table thead tr th{
    color: #4b4b4b;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 8px;
}

.boar-table tbody tr th{
    padding: 8px;
}

.actions-column{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Adjust spacing between buttons and separator */
}
.action-btn{
    display: flex;
    align-items: center;
    gap: 4px; /* Space between text and icon */
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    color: #333; /* Adjust color of the button */
}

.form-btns{
    display: flex;
    justify-content: center;
    gap: 8px;
    /* margin-top: 20px; */
}

/* .seperator{
    font-size: 16px;
    color: #333; 
    display: inline-block;
    line-height: 1;
} */

/* .icon{
    display: none;
} */

@media (max-width:800px) {
    .action-txt{
        display: none;
    }
    .icon{
        display: inline-block;
    }
    .actions-column{
        text-align: center;
    }
    form{
        grid-template-columns:1fr;
    }
    table{
        min-width: 100%;
    }
    .top-page{
        display: none;
    }
}