.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* box-shadow: 0 2px 3px var(--shadow-dark); */
    box-shadow: 0 10px 30px 5px var(--shadow-dark);
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
}

main h1 {
    border: 1px solid var(--border-dark);
    color: var(--text-light);
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: var(--text-dark);
}

label {
    font-weight: bold;
    color: var(--text-dark);
    margin: 25px 0 0 0;
}

input[type="password"], select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--border-dark);
    border-radius: 5px;
    min-width: 100%;
    margin: 10px 0 0 0;
    box-sizing: border-box;
}   

input[type="password"]:focus, select:focus {
    border-color: var(--border-dark);
    outline: none;
}
.submitBTN {
    grid-column: 1 / -1;     /* Make the div span across all columns */
    display: flex;           /* Use flexbox for centering the button */
    justify-content: center; /* Center horizontally                  */
    margin-top: 1rem;        /* Optional spacing above the button    */
}
.submitBTN input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    min-width: 300px;
    border: 1px solid var(--hover-accent);
    cursor: pointer;

    transition: transform 0.1s ease, background-color 0.2s ease, box-shadow 0.2s ease;
    box-shadow: inset 6px 6px 10px 0 rgba(0,0,0,0.2),inset -6px -6px 10px 0 rgba(255,255,255,0.5);
    background-color: #e0e0e0;
    border-radius: 40px;
    color: black;
}

.submitBTN input[type="submit"]:hover {
    transform: scale(0.95);
    border: 1px solid var(--border-light);
}