:root {
    --bg-light:        #f7f8f9;
    --bg-lighter:      #ffffff;
    --bg-lightest:     #fbfbfc;
  
    --bg-primary:      #10a37f;   /* professional green */
    --bg-secondary:    #ececec;
    --bg-accent:       #e0f3ec;
  
    --hover-primary:   #0e8e72;
    --hover-secondary: #e2e2e2;
    --hover-accent:    #c8e9dc;
  
    --border-light:    #d1d5db;
    --border-dark:     #94a3b8;
  
    --text-light:      #4b5563;
    --text-dark:       #1f2937;
  
    --shadow-light:    rgba(0, 0, 0, 0.05);
    --shadow-dark:     rgba(0, 0, 0, 0.15);
  }
::-webkit-scrollbar{
    display: none;
}
.alert{
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 20px auto;
    padding: 5px 20px;
    color: rgb(242, 140, 140);
    border: 2px solid rgb(242, 140, 140);
}
form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0 2px 3px var(--shadow-dark);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
h2{
    border: 1px solid var(--border-dark);
    color: var(--text-light);
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: var(--text-dark);

}
label{
    color: var(--text-dark);
}
input[type="text"], input[type="date"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--border-dark);
    border-radius: 5px;
    min-width: 100%;
    margin: 10px 0 0 0;
    box-sizing: border-box;
}   

input[type="text"]:focus, input[type="date"]:focus {
    border-color: var(--border-dark);
    outline: none;
}
.submitBTN {
    grid-column: 1 / -1;     /* Make the div span across all columns */
    display: flex;           /* Use flexbox for centering the button */
    justify-content: center; /* Center horizontally                  */
    margin-top: 1rem;        /* Optional spacing above the button    */
    gap: 20px;
}

.btn{
    background: linear-gradient(var(--hover-primary),var(--hover-secondary));    /* Green button */
    color: var(--text-dark);
    padding: 10px 20px;
    border: 2px solid var(--border-light);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 3px var(--shadow-dark);
    width: 200px;
}
.btn:hover{
    background: linear-gradient(var(--hover-secondary),var(--hover-accent));
    border: 1px solid var(--border-light);
}
a{
    text-decoration: none;
    color: var(--text-dark);
}