:root {
    --bg-light:        #f2fdf0;
    --bg-lighter:      #e0fcdc;
    --bg-lightest:     #c3f6bc;
    
    --bg-primary:      #93ee87;
    --bg-secondary:    #5bdc4c;
    --bg-accent:       #34c324;
    
    --hover-primary:   #26a118;
    --hover-secondary: #227e17;
    --hover-accent:    #1e6417;
    
    --border-light:    #1a5215;
    --border-dark:     #082d06;
    
    --text-light:      #f2fdf0;
    --text-dark:       #082d06;
    
    --shadow-light:    rgba(26, 82, 21, 0.3);
    --shadow-dark:     rgba(8, 45, 6, 0.6);
}
  
::-webkit-scrollbar{
    display: none;
}
.alert{
    color: var(--text-dark);
}


#header{
    border: 1px solid var(--border-dark);
    color: var(--text-dark);
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
label {
    font-weight: bold;
    color: var(--text-dark);
    margin: 25px 0 0 0;
}

input[type="text"], input[type="date"], select {
    padding: 10px;
    font-size: 16px;
    /* background-color: var(--bg-primary); */
    border: 1px solid var(--border-dark);
    border-radius: 5px;
    min-width: 100%;
    margin: 10px 0 0 0;
    box-sizing: border-box;
}   

input[type="text"]:focus, input[type="date"]:focus, select:focus {
    border-color: var(--border-dark);
    outline: none;
}
.submitBTN {
    grid-column: 1 / -1;     /* Make the div span across all columns */
    display: flex;           /* Use flexbox for centering the button */
    justify-content: center; /* Center horizontally                  */
    margin-top: 1rem;        /* Optional spacing above the button    */
}
.submitBTN input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    color: var(--text-dark);
    width: 300px;
    background: linear-gradient(var(--hover-primary),var(--hover-secondary));
    border: 1px solid var(--hover-accent);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitBTN input[type="submit"]:hover {
    background: linear-gradient(var(--hover-secondary),var(--hover-accent));
    border: 1px solid var(--border-light);
}

/* style the table */

.expense-table{
    border-collapse: collapse;
    min-width: 100%;
    border-radius: 5px;
    box-shadow: 0 10px 30px 5px rgba(0,0,0,0.15);
    margin: 25px auto;
    text-align: center;
    color: var(--text-dark);
}

.expense-table thead tr{
    border-bottom: 1px dashed var(--border-light);
}
.expense-table thead tr th{
    color: var(--text-dark);
    font-size: 16px;
    letter-spacing: 1px;
    padding: 8px;
}

.expense-table tbody tr th{
    padding: 8px;
}

.expense-table tfoot tr{
    border-top: 2px dashed black;
    span, p{
        font-weight: bold;
        font-size: 20px
    };
}

.actions-column{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Adjust spacing between buttons and separator */
    margin: 4px auto;
}
.action-btn{
    display: flex;
    align-items: center;
    gap: 4px; /* Space between text and icon */
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--text-dark); /* Adjust color of the button */
}

.form-btns{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.seperator{
    font-size: 16px;
    color: var(--text-dark); /* Adjust color of the separator */
    display: inline-block;
    line-height: 1;
}

.edit{
    line-height: 1;
    font-size: 16px;
    color: var(--text-dark);
    cursor: pointer;
    gap: 8px;
}

.edit:hover{
    transform: translateY(-1px);
}

.icon{
    display: none;
}
.for-mobile{
    display: none;
}
.mobile-span{
    display: none;
}

input::placeholder {
    color: #333; /* Change to the color you want */
    opacity: 1; /* Make sure it's not transparent */
}

@media (max-width:800px){
    form{
        grid-template-columns:1fr;
    }
    table{
        min-width: 100%;
    }
    th{
        display: none;
    }
    tr:nth-of-type(2n){
        background-color: rgba(0,0,0, 0.1);
    }
    td{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        text-align: right;
    }
    td:first-child{
        margin-top: 2rem;
        border-top: 1px solid var(--border-light);
    }
    td:last-child{
        margin-bottom: 2rem;
        border-bottom: 1px solid var(--border-light);
    }
    td::before{
        content: attr(data-cell);
        float: left;
        font-weight: bold;
    }
    .actions-column{
        display: flex;
        align-items: center;
        justify-content: center
    }
    .action-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 3px 6px;
        background: rgba(255, 255, 255, 0.2);
        border: none;
    }
    
    .form-btns{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        /* margin-top: 20px; */
    }
}