body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

main {
    padding: 20px;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 30ch auto;
    gap: 0.5rem;
    margin: 20px auto;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"], select, textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="number"]:focus, select:focus, textarea:focus {
    border-color: #0056b3;
    outline: none;
}

.submitBTN {
    grid-column: 1 / -1; /* Make the div span across all columns */
    display: flex; /* Use flexbox for centering the button */
    justify-content: center; /* Center horizontally */
    margin-top: 1rem; /* Optional spacing above the button */
}
.submitBTN input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #0056b3;
    width: 300px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitBTN input[type="submit"]:hover {
    background-color: #003d82;
}

#results {
    display: grid;
    grid-template-columns: 40ch auto;
    gap: 0.5rem;
    margin-top: 30px;
    max-width: 100%;
}
#results label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
}

#results b, #results u {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    color: #0056b3;
}

u {
    text-decoration: none;
    border-bottom: 2px dotted #0056b3;
}

@media (max-width: 800px) {
    .container {
        padding: 15px;
    }

    h2 {
        font-size: 20px;
    }

    label {
        font-size: 14px;
    }

    input[type="text"], input[type="number"], select, textarea {
        font-size: 14px;
    }

    .submitBTN input[type="submit"] {
        font-size: 14px;
    }
}
