::-webkit-scrollbar{
    display: none;
}
.alert{
    color: var(--text-dark);
}

h2{
    border: 1px solid var(--border-dark);
    color: var(--text-dark);
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.feed-type-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 100%;
}

.feed-calculator-btns{
    padding: 8px 20px;
    font-size: 16px;
    border: 1px solid var(--hover-accent);
    width: 170px;
    cursor: pointer;
    text-align: center;
    margin: 0 0 10px 0;

    transition: transform 0.1s ease, background-color 0.2s ease, box-shadow 0.2s ease;
    box-shadow: inset 6px 6px 10px 0 rgba(0,0,0,0.2),inset -6px -6px 10px 0 rgba(255,255,255,0.5);
    background-color: #e0e0e0;
    border-radius: 30px;
    .feed-calc{
        background: transparent;
        border: none;
        cursor: pointer;
        color: black;        
    }
}

.feed-calculator-btns:hover {
    transform: scale(0.95);
    border: 1px solid var(--border-light);
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    color: var(--text-dark);
    box-shadow: 0 10px 30px 5px var(--shadow-dark);
}
label {
    font-weight: bold;
    margin: 10px 5px 0 5px;
    color: var(--text-dark);
}

input[type="text"], input[type="number"], select, textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--border-dark);
    border-radius: 5px;
    max-width: 100%;
    margin: 0px 5px 0 5px;
}   

input[type="text"]:focus, input[type="number"]:focus, select:focus, textarea:focus {
    outline: none;
}

input::placeholder{
    color: var(--text-dark);
    opacity: 1;
}

.submitBTN {
    grid-column: 1 / -1; /* Make the div span across all columns */
    display: flex; /* Use flexbox for centering the button */
    justify-content: center; /* Center horizontally */
    margin: 1rem; /* Optional spacing above the button */
}
.submitBTN input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid var(--hover-accent);
    width: 300px;
    cursor: pointer;

    transition: transform 0.1s ease, background-color 0.2s ease, box-shadow 0.2s ease;
    box-shadow: inset 6px 6px 10px 0 rgba(0,0,0,0.2),inset -6px -6px 10px 0 rgba(255,255,255,0.5);
    background-color: #e0e0e0;
    border-radius: 40px;
    color: black;
}

.submitBTN input[type="submit"]:hover {
    transform: scale(0.95);
    border: 1px solid var(--border-light);
}

#results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin-top: 30px;
    max-width: 100%;
    color: var(--text-dark);
    box-shadow: 0 10px 30px 5px var(--shadow-dark);

}
#results label {
    display: block;
    font-weight: bold;
    margin: 0 5px;
}

#results b, #results u {
    display: block;
    margin: 0 10px;
    font-size: 18px;
    color: var(--hover-primary);
}
.label-output{
    margin: 0 10px;
}
.total-cost{
    margin: 0 0 20px 0;
}
u {
    margin: 0 10px;
    text-decoration: none;
    border-bottom: 2px dotted var(--bg-secondary) ;
}

@media (max-width: 800px) {
    form, #results {
        grid-template-columns: 1fr;
        label{
            padding: 0px 5px;
        }
    }
}
