h1{
    font-size: 28px;
    color: #333;
    text-align: center;
}

form{
    max-width: auto;
    margin: 20px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
    display: grid; 
    grid-template-columns: 1fr 2fr;
}

form label{
    display: grid;
    margin-bottom: 8px;
}

form input{
    width: 100%;
    padding: 8px 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    margin-bottom: 15px;
}

.submitBTN {
    text-align: center;
    margin-top: 15px;
    grid-column: 1/-1;
    width: 100%;
}

.submitBTN input {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
}

.submitBTN input:hover {
    background-color: #222533;
}

/* Result Section */
.result-feed {
    max-width: auto;
    margin: 20px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 2fr; /* Two columns: labels and values */
    gap: 15px 10px; /* Row and column spacing */
    align-items: center;
}

.result-feed label{
    text-align: left;
    padding-right: 10px 15px;
}

@media (max-width: 768px) {
    form{
        grid-template-columns: 1fr;
    }
    form label input{
        text-align: left;
        padding: 0;
    }
    .result-feed {
        grid-template-columns: 1fr; /* Switch to single column on smaller screens */
    }

    .result-feed label, .result-feed span {
        text-align: left; /* Align all text to the left for single-column layout */
        padding-right: 0;
    }

    .result-feed span{
        color: #333;
    }
}