:root {
    --bg-light:        #f7f8f9;
    --bg-lighter:      #ffffff;
    --bg-lightest:     #fbfbfc;
  
    --bg-primary:      #10a37f;   /* professional green */
    --bg-secondary:    #ececec;
    --bg-accent:       #e0f3ec;
  
    --hover-primary:   #0e8e72;
    --hover-secondary: #e2e2e2;
    --hover-accent:    #c8e9dc;
  
    --border-light:    #d1d5db;
    --border-dark:     #94a3b8;
  
    --text-light:      #4b5563;
    --text-dark:       #1f2937;
  
    --shadow-light:    rgba(0, 0, 0, 0.05);
    --shadow-dark:     rgba(0, 0, 0, 0.15);
  }

::-webkit-scrollbar{
    display: none;
}

.alert{
    color: var(--text-dark);
}

body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

h2{   
   border: 1px solid var(--border-dark);
   color: var(--text-light);
   text-align: center;
   padding: 10px;
   margin-bottom: 20px;
   border-radius: 5px;
   color: var(--text-dark);
}

.search-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 20px;
}

input::placeholder{
    color: var(--text-dark) !important;
    opacity: 1;
}

#searchInput {
    padding: 8px 40px ;
    background: var(--bg-lightest); 
    border: var(--bg-accent);
    border-radius: 20px; 
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}

#searchInput:focus{
    color: var(--text-dark);
}

.search-icon{
    position: relative;
    left: 35px;
    padding: 5px;
    fill: var(--text-dark) !important;
}

.close-icon{
    position: relative;
    right: 35px;
    padding:5px;
    cursor: pointer;
    fill: var(--text-dark);
}

hr{
    margin: 10px auto;
}

<<<<<<< HEAD

=======
>>>>>>> 0fa0214ccb7a74187a76fd79acbe8c13625e627d
#invoiceTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
<<<<<<< HEAD
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
=======
    background-color: var(--bg-lightest);
    box-shadow: 0 2px 10px var(--shadow-dark);
    border-radius: 15px;
>>>>>>> 0fa0214ccb7a74187a76fd79acbe8c13625e627d
}
#invoiceTable thead tr th{
    padding: 8px 5px;
    color: var(--text-dark);
    text-align: left;
<<<<<<< HEAD
    border-bottom: 1px solid #ddd;
=======
    border-bottom: 1px solid var(--border-light);
>>>>>>> 0fa0214ccb7a74187a76fd79acbe8c13625e627d
    background-color: var(--bg-accent);
    color: var(--text-dark);
    font-weight: bold;
}

#invoiceTable tbody tr td{
    text-align: right;
    padding: 8px 5px;
    color: var(--border-dark);
<<<<<<< HEAD

    font-size: 14px;
    color: #333;
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
=======
    font-size: 14px;
    color: var(--text-dark);
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid var(--border-dark);
>>>>>>> 0fa0214ccb7a74187a76fd79acbe8c13625e627d
}

.footer tr td{
    border-top: 1px dashed var(--border-dark);
}

.invoice-buttons{
    display: none;
}

.actions-btn{
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 3px 6px;
    border: none;
}
.action-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 8px;
    border-radius: 5px;
<<<<<<< HEAD
    border: 1px solid var(--border-light);

    background-color: var(--bg-primary);
=======
    background: linear-gradient(var(--hover-primary),var(--hover-secondary));    /* Green button */
    border: 1px solid var(--border-light);
>>>>>>> 0fa0214ccb7a74187a76fd79acbe8c13625e627d
    color: var(--text-light);
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-btn:hover{
<<<<<<< HEAD
    background-color: var(--bg-accent);
=======
    background: linear-gradient(var(--hover-secondary),var(--hover-accent));
    border: 1px solid var(--border-light);
>>>>>>> 0fa0214ccb7a74187a76fd79acbe8c13625e627d
}


/* Table Container */
.table-container {
    max-width: 100%;
    overflow-x: auto;
    margin: 20px 0;
}


#invoiceTable tr:nth-child(even) {
    background-color: var(--bg-lightest);
}

#invoiceTable td.actions-btn {
    text-align: center;
}

.action-txt {
    margin-right: 8px;
}

/* Table Footer */
<<<<<<< HEAD
tfoot.footer {
    font-size: 16px;
    font-weight: bold;
    background-color: var(--bg-primary);
=======
.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em; /* space between items */
    text-align: center;
    padding: 1em;
    flex-wrap: wrap; /* optional: helps with responsiveness */
}

.footer-data {
    margin: 0; /* removes default block spacing */
    white-space: nowrap; /* prevents line breaks inside each p */
}

.totalWeight, .averageWeight, .totalRevenue, .totalPigs {
    padding-left: 20px;
}

#totalWeight, #averageWeight, #totalRevenue, #totalPigs {
    font-weight: normal;
    color: var(--text-dark);
    display: inline-block;
>>>>>>> 0fa0214ccb7a74187a76fd79acbe8c13625e627d
}

.totalWeight, .averageWeight, .totalRevenue {
    padding-left: 20px;
}

#totalWeight, #averageWeight, #totalRevenue {
    font-weight: normal;
    color: #333;
    display: inline-block;
}

@media(max-width:800px) {

    .invoice-buttons{
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        margin-bottom: 10px;
    }

    .invoice-btns{
        width: 45%;
        padding: 7px 5px;
        border-radius: 5px;
        outline: none;
        a{
            text-decoration: none;
        }
    }

    .view-invoices{
        font-size: 16px;
        background: linear-gradient(var(--hover-primary),var(--hover-secondary));
        border: 1px solid var(--hover-accent);
        transition: background-color 0.3s;
        a{
            color: var(--text-light);
        }
    }

    .generate-invoice{
        font-size: 16px;
        background: linear-gradient(var(--bg-primary),var(--bg-lightest));
        border: 1px solid var(--hover-accent);
        transition: background-color 0.3s;
        a{
            color: var(--text-dark);
        }
    }
    
    .search-container{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    th{
        padding: 10px;
        display: none;
    }
    td{
        display: grid;
        padding: 10px;
        font-size: 12px;
        grid-template-columns: repeat(2, 1fr);
    }

    tr:nth-of-type(2n){
        background-color: var(--bg-primary);
    }

    td:first-child{
        margin-top: 2rem;
        border-top: 1px solid var(--bg-secondary);
    }
    td:last-child{
        border-bottom: 2px solid var(--bg-secondary);
        margin-bottom: 2rem;
    }
    td::before{
        content: attr(data-cell);
        float: left;
        font-weight: bold;
    }

    .actions-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-btns{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    .action-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 6px 10px;
<<<<<<< HEAD
        background: rgba(255, 255, 255, 0.2);
        font-size: 12px;
        color: black;
=======
        background: var(--bg-primary); 
        font-size: 12px;
        color: var(--text-dark);
>>>>>>> 0fa0214ccb7a74187a76fd79acbe8c13625e627d
        background: var(--bg-lightest);
    }
    .action-btn svg{
        padding: 5px;
    }

    tfoot.footer {
        font-size: 14px;
    }
    
}