:root {
    --bg-light:        #f2fdf0;
    --bg-lighter:      #e0fcdc;
    --bg-lightest:     #c3f6bc;
    
    --bg-primary:      #93ee87;
    --bg-secondary:    #5bdc4c;
    --bg-accent:       #34c324;
    
    --hover-primary:   #26a118;
    --hover-secondary: #227e17;
    --hover-accent:    #1e6417;
    
    --border-light:    #1a5215;
    --border-dark:     #082d06;
    
    --text-light:      #f2fdf0;
    --text-dark:       #082d06;
    
    --shadow-light:    rgba(26, 82, 21, 0.3);
    --shadow-dark:     rgba(8, 45, 6, 0.6);
}

::-webkit-scrollbar{
    display: none;
}

.alert{
    color: var(--text-dark);
}

body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

h2{
   /* background-color: var(--bg-accent); */    
   border: 1px solid var(--border-dark);
   color: var(--text-light);
   text-align: center;
   padding: 10px;
   margin-bottom: 20px;
   border-radius: 5px;
   color: var(--text-dark);
}

.search-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 20px;
}

#searchInput {
    padding: 8px 40px 8px 40px;
    background-color: var(--bg-lighter); 
    border: none;
    border-radius: 20px; 
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}

#searchInput:focus{
    border:1px solid var(--border-light);
    color: var(--text-dark);
}

.search-icon{
    position: relative;
    left: 35px;
    padding: 5px;
}

.close-icon{
    position: relative;
    right: 35px;
    padding:5px;
    cursor: pointer;
}

hr{
    margin: 10px auto;
}

#invoiceTable{
    box-shadow: 0 10px 30px 5px rgba(0,0,0,0.15);
    width:100%;
}

#invoiceTable thead tr th{
    padding: 8px 5px;
    text-align: right;
    border-bottom: 1px dashed var(--border-light);
    color: var(--text-dark);
}

#invoiceTable tbody tr td{
    text-align: right;
    padding: 8px 5px;
    color: var(--border-dark);
}

.invoice-buttons{
    display: none;
}

.actions-btn{
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 3px 6px;
    border: none;
}

.action-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 8px;
    padding: 6px 8px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid var(--border-light);
}

.action-btn:hover{
    background-color: var(--bg-primary);
}

@media(max-width:800px) {

    .invoice-buttons{
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        margin-bottom: 10px;
    }

    .invoice-btns{
        width: 45%;
        padding: 7px 5px;
        border-radius: 5px;
        outline: none;
        a{
            text-decoration: none;
        }
    }

    .view-invoices{
        font-size: 16px;
        background: linear-gradient(var(--hover-primary),var(--hover-secondary));
        border: 1px solid var(--hover-accent);
        transition: background-color 0.3s;
        a{
            color: var(--text-light);
        }
    }

    .generate-invoice{
        font-size: 16px;
        background: linear-gradient(var(--bg-primary),var(--bg-lightest));
        border: 1px solid var(--hover-accent);
        transition: background-color 0.3s;
        a{
            color: var(--text-dark);
        }
    }
    
    .search-container{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    th{
        display: none;
    }
    td{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    tr:nth-of-type(2n){
        background-color: rgba(0,0,0, 0.1);
    }

    td:first-child{
        margin-top: 2rem;
        border-top: 1px solid var(--bg-secondary);
    }
    td:last-child{
        border-bottom: 2px solid var(--bg-secondary);
        margin-bottom: 2rem;
    }
    td::before{
        content: attr(data-cell);
        float: left;
        font-weight: bold;
    }

    .actions-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-btns{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    .action-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 3px 6px;
        background: rgba(255, 255, 255, 0.2);
        /* background: green; */
        border-top: 1px solid var(--bg-accent);
    }
    .action-btn svg{
        padding: 5px;
    }
    
}