
::-webkit-scrollbar{
    display: none;
}
.alert{
    color: var(--text-dark);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    border: 1px solid var(--border-dark);
    color: var(--text-dark);
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    color: var(--text-dark);
    border: 1px solid var(--border-dark);
    box-shadow: 0 10px 30px 5px var(--shadow-dark);
}
label {
    font-weight: bold;
    margin: 10px 0 0 0;
    color: var(--text-dark);
}
input[type="text"], input[type="number"], select, textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--border-dark);
    border-radius: 5px;
    min-width: 100%;
    box-sizing: border-box;
}   
input[type="text"]:focus, input[type="number"]:focus, select:focus, textarea:focus {
    outline: none;
}

.submitBTN {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center; 
    margin-top: 1rem; 
}
.submitBTN input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    color: var(--text-dark);
    width: 300px;
    border: 1px solid var(--border-light);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    transition: transform 0.1s ease, background-color 0.2s ease, box-shadow 0.2s ease;
    background-color: var(--bg-secondary);
    border-radius: 40px;
}

.submitBTN input[type="submit"]:hover {
    border: 1px solid var(--border-light);
    transform: scale(0.95);

}


.download_invoice{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    box-shadow: none;
}
.btn-success{
    display: flex;
    align-items: center;
}

.svg{
    align-items: center;
    color: var(--text-light);
}

form .btn{
    padding: 10px 20px;
    font-size: 16px;
    color: var(--text-dark);
    max-width: 300px;
    border: 1px solid var(--hover-accent);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    transition: transform 0.1s ease, background-color 0.2s ease, box-shadow 0.2s ease;
    background-color: var(--bg-secondary);
    border-radius: 40px;
    color: var(--text-dark);
}

form .btn:hover{
    transform: scale(0.95);
    border: 1px solid var(--border-light);
}

.invoice-table {
    border-collapse: collapse;
    min-width: 100%;
    border-radius: 5px;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.15);
    margin: 25px auto;
    text-align: center;
    color: var(--text-dark);
}

.totalCost{
    text-align: right;
    margin: 25px auto;
}

#invoice h2{
    color: var(--text-dark);
}

.invoice-table thead tr {
    color: var(--text-dark);
    font-size: 20px;
    border-bottom: 1px dashed var(--border-dark);
}

.invoice-table tfoot tr {
    color: var(--text-dark);
    font-size: 20px;
    border-top: 1px dashed var(--border-dark);
}

.invoice-table thead tr th{
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--text-dark);
    padding: 8px;
}

.invoice-table tfoot tr td{
    font-size: 18px;
    letter-spacing: 1px;
    color: var(--text-dark);
    font-weight: 700;
    padding: 8px;
    text-align: right;
}

.invoice-table tbody tr td{
    padding: 8px;
}

.invoice-table thead tr th:nth-last-child(1),
.invoice-table tbody tr td:nth-last-child(1),
.invoice-table tfoot tr td:nth-last-child(1){
    text-align: right;
}

.invoice-buttons{
    display: none;
}

@media (max-width: 800px){

     .invoice-buttons{
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        margin-bottom: 10px;
        white-space: nowrap;
        a{
            color: var(--text-dark);
            text-align: center;
            text-decoration: none;
        }
    }

    .invoice-btns{
        width: 45%;
        padding: 7px 5px;
        border-radius: 5px;
        outline: none;
        a{
            text-decoration: none;
        }
    }

    .view-invoices{
        font-size: 16px;
        padding: 10px 20px;
        font-size: 16px;
        border: 1px solid var(--border-dark);
        cursor: pointer;
        transition: transform 0.1s ease, background-color 0.2s ease, box-shadow 0.2s ease;
        background-color: var(-bg-light);
        border-radius: 40px;
        a{
            color: var(--text-dark);
        }
    }
    .generate-invoice{
        font-size: 16px;
        padding: 10px 20px;
        font-size: 16px;
        border: 1px solid var(--border-dark);
        cursor: pointer;
        transition: transform 0.1s ease, background-color 0.2s ease, box-shadow 0.2s ease;
        background-color: var(--bg-secondary);
        border-radius: 40px;
        a{
            color: var(--text-dark);
        }
    }

    .view-invoices:active, .generate-invoice:active{
        transform: scale(0.95);
    }
    
    form{
        grid-template-columns: repeat(1, 1fr);
    }
    .invoice-table{
        width: 100%;
    }
    
}