:root {
    --bg-light:        #f2fdf0;
    --bg-lighter:      #e0fcdc;
    --bg-lightest:     #c3f6bc;
    
    --bg-primary:      #93ee87;
    --bg-secondary:    #5bdc4c;
    --bg-accent:       #34c324;
    
    --hover-primary:   #26a118;
    --hover-secondary: #227e17;
    --hover-accent:    #1e6417;
    
    --border-light:    #1a5215;
    --border-dark:     #082d06;
    
    --text-light:      #f2fdf0;
    --text-dark:       #082d06;
    
    --shadow-light:    rgba(26, 82, 21, 0.3);
    --shadow-dark:     rgba(8, 45, 6, 0.6);
}
  
::-webkit-scrollbar{
    display: none;
}
.alert{
    color: var(--text-dark);
}

form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.container{
    box-shadow:0 10px 15px 5px var(--shadow-light);
}
label {
    font-weight: bold;
    color: var(--text-dark);
    margin: 25px 0 0 0;
}
input[type="date"], input[type="number"], textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--border-dark);
    border-radius: 5px;
    min-width: 100%;
    margin: 10px 0 0 0;
    box-sizing: border-box;
    outline: none;;
}   
input[type="date"]:focus, input[type="number"]:focus {
    border-color: var(--border-dark);
    outline: none;
}
textarea::placeholder {
    color: var(--text-dark);
}
.submitBTN {
    grid-column: 1 / -1;     /* Make the div span across all columns */
    display: flex;           /* Use flexbox for centering the button */
    justify-content: center; /* Center horizontally                  */
    margin-top: 1rem;        /* Optional spacing above the button    */
}
.submitBTN input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    color: var(--text-dark);
    width: 300px;
    background: linear-gradient(var(--hover-primary),var(--hover-secondary));
    border: 1px solid var(--hover-accent);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitBTN input[type="submit"]:hover{
    background: linear-gradient(var(--hover-secondary),var(--hover-accent));
    border: 1px solid var(--border-light);
}

.text-n-button {
    display: flex;
    justify-content: space-between;  /* Space between text and button */
    align-items: center;  /* Align items vertically */
    padding: 10px;
    border: 1px solid var(--hover-accent);
    border-radius: 8px;
    span{
        color: var(--text-dark);
    }
}

/* Button styling */
.text-n-button button {
    display: flex;
    align-items: center;
    gap: 8px; /* Space between text and icon */
    padding: 10px 16px;
    border: none;
    background: linear-gradient(var(--hover-primary),var(--hover-secondary));    /* Green button */
    border: 1px solid var(--hover-accent);
    color: var(--text-dark);
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

/* Hover effect */
.text-n-button button:hover {
    background: linear-gradient(var(--hover-secondary),var(--hover-accent));
    border: 1px solid var(--border-light);
}

/* SVG icon styling */
.text-n-button button svg {
    /* fill: white; */
    transition: transform 0.3s ease;
}

/* Rotate icon slightly on hover */
.text-n-button button:hover svg {
    transform: translateX(-3px);
}

/* Table styling */

table{
    border-collapse: collapse;
    min-width: 100%;
    border-radius: 5px;
    box-shadow: 0 10px 30px 5px rgba(0,0,0,0.15);
    margin: 25px auto;
    color: var(--text-dark);
    white-space: nowrap;
}
table tbody tr td{
    text-align: center;
    padding: 8px 5px;
    color: var(--border-dark);
}
table thead tr{
    border-bottom: 1px dashed var(--border-light);
    text-align: right;
}
table thead tr th{
    color: var(--text-dark);
    font-size: 16px;
    padding: 8px;
}

@media (max-width:800px) {
    th{
        padding: 10px;
        display: none;
    }
    td{
        display: grid;
        padding: 10px;
        font-size: 12px;
        grid-template-columns: repeat(2, 1fr);
    }

    tr:nth-of-type(2n){
        background-color: rgba(0,0,0, 0.1);
    }

    td:first-child{
        margin-top: 2rem;
        border-top: 1px solid var(--bg-secondary);
    }
    td:last-child{
        border-bottom: 2px solid var(--bg-secondary);
        margin-bottom: 2rem;
    }
    td::before{
        content: attr(data-cell);
        float: left;
        font-weight: bold;
    }

    form {
        grid-template-columns: 1fr;
        label{
            padding: 0px 5px;
        }
    }
    .submitBTN{
        margin: 5px 0;
    }
 }