@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
:root {
  --bg-light:        #f7f8f9;
  --bg-lighter:      #ffffff;
  --bg-lightest:     #fbfbfc;

  --bg-primary:      #10a37f;   /* professional green */
  --bg-secondary:    #ececec;
  --bg-accent:       #e0f3ec;

  --hover-primary:   #0e8e72;
  --hover-secondary: #e2e2e2;
  --hover-accent:    #c8e9dc;

  --border-light:    #d1d5db;
  --border-dark:     #94a3b8;

  --text-light:      #4b5563;
  --text-dark:       #1f2937;

  --shadow-light:    rgba(0, 0, 0, 0.05);
  --shadow-dark:     rgba(0, 0, 0, 0.15);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--bg-light);
}

.winky-sans-winky {
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.navigation-panel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: var(--bg-light);
  flex-direction: row;
  margin: 5px;
  border-radius: 5px;
  position: sticky;
  top: 5px;
  height: 60px;
  border: 1px solid var(--border-dark);
  box-shadow: 0 3px 5px 0 var(--shadow-dark);
}
ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
ul li{
  list-style: none;
}
ul li a{
  text-decoration: none;
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
  justify-content: space-around;
  color: var(--text-dark);
}

ul li a:hover{
  color: var(--hover-primary);
}

.logo{
  font-size: 25px;
  color: var(--text-dark);
  span{
    font-size: 30px;
    font-weight: 600;
  }
}

.action-btns{
  display: flex;
  gap: 10px;
}

.signup-button{
  display: flex;
  text-decoration: none;
  background: var(--bg-light);
  border:1px solid var(--border-dark);
  width: 100px;
  padding: 8px;
  border-radius: 5px;
  outline: none;
}

.signup-button:hover{
  background: var(--hover-primary);
}

.signup-button button{
  color: var(--text-dark);
  margin: 0 auto;
  background:none;
  outline: none;
  border: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.login-button{
  display: flex;
  text-decoration: none;
  background: var(--bg-primary);
  width: 100px;
  padding: 8px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--border-dark);
}
.login-button:hover{
  background: var(--hover-primary);
}
.login-button button{
  margin: 0 auto;
  background:none;
  outline: none;
  border: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  svg{
    display: none;
  }
}

.hero-section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: var(--text-dark);
  height: 100%;
}

.hero-section h2{
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px 5px;
  border-radius: 5px;
  margin: 10px;
  font-size: 1.5rem;
  /* box-shadow: 0 2px 3px var(--shadow-light); */
  /* width: 500px; */
}

.hero-text{
  font-size: 20px;
  margin: 10px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text p{
  max-width: 500px;
  margin: 0 auto;
  padding: 5px;
  backdrop-filter: blur(10px);
  border-radius: 15px;
  line-height: 2rem;
  font-size: 1rem;
}

.hero-image{
  align-items: center;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image img{
  box-shadow: 0 0 4px 4px var(--shadow-dark);
  margin: 0 auto;
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.hamburger {
  display: none;
  font-size: 2rem;
  color: var(--text-dark);
  cursor: pointer;
}
@media (max-width: 800px) {
  .hero-image img{
    height: 300px;
  }
  .navigation-panel{
    width: 100%;
    justify-content: space-between;
    padding: 20px 10px;
  }
  /* .action-btns{
    border: 1px solid yellow;
  } */
  .hamburger{
    display: none;
    border: 1px solid red;
  }
  .nav-links{
    display: none;
  }
  .signup-button{
    display: none;
  }
  .login-button{
    span{
      color: black;
    }

    svg{
      display: block;
      color: var(--text-dark);
    }
  }
  .login-button:hover{
    background: none;
  }
  
  .hero-section{
    grid-template-columns: repeat(1, 1fr);
  }
}