body{
    margin: 0;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: linear-gradient(90deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);
    background-size: 300% 300%;
    animation: gradientMove 10s ease infinite;
}
@keyframes gradientMove {
    0%{
        background-position: 0% 50%; 
    }
    50%{ 
        background-position: 100% 50%; 
    }
    100%{ 
        background-position: 0% 50%; 
    }
}

h1 {
    text-align: center;
    font-size: 36px;
}

.Login_Form{
    width: 550px;
    height: 250px;
    border: 2px solid #000;
    opacity: 0.5;
    color: #fff;
    background-color: #000;
    align-self: center;
    padding: 8px 15px;
    border-radius: 25px;
}

form{
    font-size: 20px;
}

form input{
    width: 250px;
}