
::-webkit-scrollbar{
    display: none;
}
.alert{
    color: var(--text-dark);
}
#header{
   border: 1px solid var(--border-dark);
   color: var(--text-light);
   text-align: center;
   padding: 10px;
   margin-bottom: 20px;
   border-radius: 5px;
   color: var(--text-dark);
}
form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.container{
    /* border: 1px solid var(--border-dark) !important; */
    box-shadow:0 10px 15px 5px var(--shadow-light);
}
label {
    font-weight: bold;
    color: var(--text-dark);
    margin: 10px 0 0 0;
}

input[type="text"], input[type="date"], select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--border-dark);
    border-radius: 5px;
    min-width: 100%;
    box-sizing: border-box;
}   

input[type="text"]:focus, input[type="date"]:focus {
    border-color: var(--border-dark);
    outline: none;
}
.submitBTN {
    grid-column: 1 / -1; /* Make the div span across all columns */
    display: flex; /* Use flexbox for centering the button */
    justify-content: center; /* Center horizontally */
    margin-top: 1rem; /* Optional spacing above the button */
}
.submit-btn {
    padding: 10px 20px;
    font-size: 16px;
    width: 300px;
    border: 1px solid var(--border-dark);
    cursor: pointer;
    transition: transform 0.1s ease, background-color 0.2s ease, box-shadow 0.2s ease;
    box-shadow: inset 6px 6px 10px 0 rgba(0,0,0,0.2),inset -6px -6px 10px 0 rgba(255,255,255,0.5);
    background-color: #e0e0e0;
    border-radius: 40px;
    color: black;
}
.submit-btn:active{
    transform: scale(0.95);
}

.submit-btn:hover {
    /* background: linear-gradient(var(--hover-secondary),var(--hover-accent)); */
    border: 1px solid var(--border-light);
}

.text-n-button {
    display: flex;
    justify-content: space-between;  /* Space between text and button */
    align-items: center;  /* Align items vertically */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 10px 30px 5px var(--shadow-dark);
    

    span{
        color: var(--text-dark);
    }
    h2{
    border: none;
    margin: auto 0;
    }
}

/* Button styling */
.text-n-button button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;    
    border: 1px solid var(--border-dark);
    cursor: pointer;
    transition: transform 0.1s ease, background-color 0.2s ease, box-shadow 0.2s ease;
    box-shadow: inset 6px 6px 10px 0 rgba(0,0,0,0.2),inset -6px -6px 10px 0 rgba(255,255,255,0.5);
    background-color: #e0e0e0;
    border-radius: 40px;
    color: black;
}

.text-n-button button span{
    color: black;
}

/* Hover effect */
.text-n-button button:hover {
    transform: scale(0.95);
    border: 1px solid var(--border-light);
}

/* SVG icon styling */
.text-n-button button svg {
    transition: transform 0.3s ease;
    fill: black;
}

/* Rotate icon slightly on hover */
.text-n-button button:hover svg {
    transform: translateX(-3px);
}


h2{
    color: var(--text-dark);
}

.no_records_found tr td{
    column-span: all;
    color: var(--text-dark);
    width: 100%;
}

table{
    /* white-space: nowrap; */
    border-collapse: collapse;
    min-width: 100%;
    border-radius: 5px;
    box-shadow: 0 10px 30px 5px var(--shadow-dark);
    margin: 25px auto;
    text-align: center;
    color: var(--text-dark);
}
table thead tr{
    border-bottom: 2px double var(--border-light);
    display: table-row;
    text-align: right;
}
table thead tr th{
    color: var(--text-dark);
    font-size: 16px;
    padding: 8px;
    text-align: center;
}
table tbody tr td{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 12px 15px;
    color: var(--text-dark);
    font-size: 14px;
}

.actions-column{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.icon{
    fill: var(--text-dark);
}
.form-btns{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.action-btn{
    display: flex;
    align-items: center;
    gap: 4px; /* Space between text and icon */
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--text-dark); /* Adjust color of the button */
    .action-txt{
        font-weight: 500;
    }
    span{
        display: none;
    }
}
.action-btn:hover{
    transform: scale(0.95);
}
.seperator{
    font-size: 16px;
    color: var(--text-dark); /* Adjust color of the separator */
    display: inline-block;
    line-height: 1;
}

@media (max-width:800px) {

    form{
    grid-template-columns: 1fr;
    }

    #header{
        font-size: 18px;
    }

    .container{
        padding: 5px 0 5px 0 !important;

    }

    .container label{
        margin-left: 10px;
    }

    .index{
        display: none;
    }
    th{
        display: none;
    }
    table tbody tr td{
        display: grid;
        padding: 10px;
        font-size: 12px;
        grid-template-columns: repeat(2, 1fr);
        border: none;
        text-align: left;
    }

    table tbody tr{
        border: 2px double var(--border-dark);
    }    
    table tbody tr:nth-of-type(even){
        background: var(--bg-accent);
    }
    table tbody tr td::before{
        content: attr(data-cell);
        float: left;
        font-weight: bold;
    }
    table tbody tr td .actions-column::before{
        display: none;
    }
    table tbody tr td.actions-column{
        display: block;
    }
    .flex{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        
    }
    .flex .action-txt{

        display: block;
    }
    .action-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 6px 10px;
        font-size: 12px;
        border: 1px solid var(--border-dark);
        border-radius: 40px;
        color: var(--text-dark);
        background: transparent;
    }
    .action-btn:hover{
        background:transparent;
        transform: scale(1);
    }
    .action-btn:active{
        transform: scale(0.95);
    }
}