#header{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
label {
    font-weight: bold;
    margin: 10px 0 0 0;
}

input[type="text"], input[type="date"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 100%;
    box-sizing: border-box;
}   

input[type="text"]:focus, input[type="date"]:focus {
    border-color: #0056b3;
    outline: none;
}
.submitBTN {
    grid-column: 1 / -1; /* Make the div span across all columns */
    display: flex; /* Use flexbox for centering the button */
    justify-content: center; /* Center horizontally */
    margin-top: 1rem; /* Optional spacing above the button */
}
.submit-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #0056b3;
    width: 300px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    transform: translateY(-3px);
    background-color: #003d82;
}

table{
    border-collapse: collapse;
    min-width: 100%;
    border-radius: 5px;
    box-shadow: 0 10px 30px 5px rgba(0,0,0,0.15);
    margin: 25px auto;
}
table tbody tr td{
    text-align: center;
}
table thead tr{
    border-bottom: 1px dashed #333;
}
table thead tr th{
    color: #4b4b4b;
    font-size: 16px;
    padding: 8px;
}
.action-btn{
    display: flex;
    align-items: center;
    gap: 4px; /* Space between text and icon */
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    color: #333; /* Adjust color of the button */
    .action-txt{
        font-weight: 500;
    }
}
.actions-column{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Adjust spacing between buttons and separator */
}
.form-btns{
    display: flex;
    justify-content: center;
    gap: 8px;
    /* margin-top: 20px; */
}
.seperator{
    font-size: 16px;
    color: #333; /* Adjust color of the separator */
    display: inline-block;
    line-height: 1;
}
.icon{
    display: none;
}

@media (max-width:800px) {
    .index{
        display: none;
    }
    th{
        display: none;
    }
    td{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    td:first-child{
        padding-top: 2rem;
        border-top: 1px solid #333;
    }
    td:last-child{
        padding-bottom: 2rem;
        border-bottom: 1px solid #333;
    }
    td::before{
        content: attr(data-cell);
        float: left;
        font-weight: bold;
    }
    .action-btn{
        justify-content: center;
        border: 1px solid hsl(0, 0%, 80%);
        width: 100%;
        padding: 5px auto;
    }
}