:root {
    --bg-light:        #f2fdf0;
    --bg-lighter:      #e0fcdc;
    --bg-lightest:     #c3f6bc;
    
    --bg-primary:      #93ee87;
    --bg-secondary:    #5bdc4c;
    --bg-accent:       #34c324;
    
    --hover-primary:   #26a118;
    --hover-secondary: #227e17;
    --hover-accent:    #1e6417;
    
    --border-light:    #1a5215;
    --border-dark:     #082d06;
    
    --text-light:      #f2fdf0;
    --text-dark:       #082d06;
    
    --shadow-light:    rgba(26, 82, 21, 0.3);
    --shadow-dark:     rgba(8, 45, 6, 0.6);
}

::-webkit-scrollbar{
    display: none;
}
.alert{
    color: var(--text-dark);
}
#header{
    border: 1px solid var(--border-dark);
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: var(--text-dark);
}

form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
label {
    font-weight: bold;
    color: var(--text-dark);
    margin: 25px 0 0 0;
}

input[type="text"], input[type="date"] {
    padding: 10px;
    font-size: 16px;
    /* background-color: var(--bg-primary); */
    border: 1px solid var(--border-dark);
    border-radius: 5px;
    min-width: 100%;
    margin: 10px 0 0 0;
    box-sizing: border-box;
}   

input[type="text"]:focus, input[type="date"]:focus {
    border-color: var(--border-dark);
    outline: none;
}
.submitBTN {
    grid-column: 1 / -1;     /* Make the div span across all columns */
    display: flex;           /* Use flexbox for centering the button */
    justify-content: center; /* Center horizontally                  */
    margin-top: 1rem;        /* Optional spacing above the button    */
}
.submitBTN input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    color: var(--text-dark);
    width: 300px;
    background: linear-gradient(var(--hover-primary),var(--hover-secondary));
    border: 1px solid var(--hover-accent);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitBTN input[type="submit"]:hover {
    background: linear-gradient(var(--hover-secondary),var(--hover-accent));
    border: 1px solid var(--border-light);
}
/* code for the table */
.sow-table, .boar-table{
    border-collapse: collapse;
    min-width: 100%;
    border-radius: 5px;
    box-shadow: 0 10px 30px 5px rgba(0,0,0,0.15);
    margin: 25px auto;
    text-align: center;
    color: var(--text-dark);
}

.sow-table thead tr, 
.boar-table thead tr{
    border-bottom: 1px dashed var(--border-light);
}
.sow-table thead tr th,
.boar-table thead tr th{
    color: var(--text-dark);
    font-size: 16px;
    letter-spacing: 1px;
    padding: 8px;
}

.sow-table tbody tr th,
.boar-table tbody tr th{
    padding: 8px;
}

.actions-column{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Adjust spacing between buttons and separator */
    margin: 4px auto;
}
.action-btn{
    display: flex;
    align-items: center;
    gap: 4px; /* Space between text and icon */
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--text-dark); /* Adjust color of the button */
}

.form-btns{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.seperator{
    font-size: 16px;
    color: var(--text-dark); /* Adjust color of the separator */
    display: inline-block;
    line-height: 1;
}

.edit{
    line-height: 1;
    font-size: 16px;
    color: var(--text-dark);
    cursor: pointer;
    gap: 8px;
}

.edit:hover{
    transform: translateY(-1px);
}

.icon{
    display: none;
}
.for-mobile{
    display: none;
}
.mobile-span{
    display: none;
}

@media (max-width:800px) {
    .for-desktop{
        display: none;
    }
    .icon{
        display: inline-block;
    }
    .actions-column{
        text-align: center;
    }
    form{
        grid-template-columns:1fr;
    }
    table{
        min-width: 100%;
    }
    /* .top-page{
        display: none;
    } */
    .for-mobile{
        display: block;
    }
    .menu-btn {
        background: none;
        border: none;
        font-size: 20px; /* Adjust size */
        cursor: pointer;
        padding: 5px;
        position: relative; /* Ensures dropdown is positioned correctly */
    }
    .action-btn{
        width: 60px;
        height: 60px;
        padding: 0;
        border-radius: 0;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: var(--text-dark);
    }
    .dropdown-menu {
        position: absolute;
        background: var(--bg-primary);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        display: none; /* Initially hidden */
        flex-direction: row;
        min-width: 120px;
        padding: 5px 5px 5px 0;
        z-index: 100;
        right: 0; /* Ensures menu stays inside the table cell */
        transform: translateX(-10px); /* Adjust for small spacing */
        span {
            display: block;
            font-size: 10px;
            margin-bottom: 0px;
            right: 0;
            bottom: 0;
            color: var(--text-dark);
            }
    }
      
      .dropdown-menu button {
        background: none;
        border: none;
        width: 100%;
        padding: 10px;
        text-align: left;
        cursor: pointer;
        font-size: 14px;
      }
      
      .dropdown-menu button:hover {
        background: #f0f0f0;
      }
      .dropdown-menu.show {
        display: flex; /* Shows the menu */
      }
}