::-webkit-scrollbar{
    display: none;
}
:root{
    --background-color: #10a37f;
    --secondary-color: #cfe1b9;
    --primary-color: #b5c99a;
    --text-color: #333;
    --secondary-text-color: #0f8c6e;
    --border-color: #252525;
    --hover-color: #97a97c;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--secondary-color);
    background: url(/static/assets/MotherPig2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.alert{
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 20px auto;
    padding: 5px 20px;
    color: red;
    border: 2px solid rgb(255, 0, 0);
}
.container{
    text-align: center;
    border: 1px solid var(--border-color);
    width: 600px;
    padding: 30px 10px;
    backdrop-filter: blur(5px);
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 20px auto;
    text-align: center;
}

input[type="email"], .form-control{
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
}

input:focus{
    color: var(--background-color);
    border: 4px solid var(--background-color);
}

button, .btn{
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: var(--hover-color);
}

.third-party{
    margin-top: 20px;
    display: flex;
    flex-direction: column ;
    align-items: center;
}

.third-party button{
    width: 300px;
    padding: 10px;
    background-color: var(--secondary-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    cursor: pointer;
    margin: 5px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    padding-left: 15px;
}

.third-party button img, 
.third-party button svg{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

a{
    color: var(--primary-color);
    text-decoration: none;
}

p{
    font-size: 12px;
    color: var(--text-color);
}

.separator{
    width: 300px;  /* Fixed width */
    display: flex;
    align-items: center;
    justify-content: center; /* Center content inside */
    margin: 20px auto; /* Center the separator horizontally */
    text-align: center;
}

.separator hr{
    flex: 1;
    border: 1px solid rgb(0, 0, 0);
    margin: auto 0px;
}

.separator span{
    font-size: 16px;
    margin: 0 4px;
}

.separator span{
    font-size: 12px;
    color: var(--text-color);
}

.terms{
    margin-top: 40px;
    color: var(--primary-color);
    font-size: 13px;
}