{% extends 'home.html' %}
{% block title %}sow edit form{% endblock %}

{% block head %}
<title>Sows</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css' )}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css' )}}">
<script type="text/javascript" src="{{ url_for('static', filename='js/home.js')}}" defer></script>
{% endblock %}

{% block content %}
<main>
    <h2>Edit Sow</h2>

    <form method="POST" action="{{ url_for('edit_sow', sow_id=sow.id) }}">

        {{ form.hidden_tag() }}
        
        <label for="sowID">Sow ID:</label>
        {{ form.sowID(class="form-control") }}

        <label for="Breed">Breed:</label>
        {{ form.Breed(class="form-control") }}

        <label for="DOB">Date of Birth:</label>
        {{ form.DOB(class="form-control") }}

        <div class="submitBTN">
            <button class="btn btn-primary" type="submit"> Edit</button>
            <button class="btn btn-secondary"><a href="{{ url_for('sows')}}">Cancel</a></button>
        </div>

        <!-- <button type="submit" class="submitBTN">Update</button> -->
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
    </form>


    
</main>
{% endblock %}
