{% extends 'home.html' %}
{% block title %}boar edit form{% endblock %}

{% block head %}
<title>Boar</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css' )}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css' )}}">
<script type="text/javascript" src="{{ url_for('static', filename='js/home.js')}}" defer></script>
{% endblock %}

{% block content %}
<main>
    <h2>Edit Boar</h2>

    <form method="POST" action="{{ url_for('edit_boar', boar_id=boar.id)}}"">  
        {{ form.hidden_tag() }}
        
        <label for="BoarId">Boar ID:</label>
        {{ form.BoarId(class="form-control") }}

        <label for="Breed">Breed:</label>
        {{ form.Breed(class="form-control", autocomplete="off") }}

        <label for="DOB">Date of Birth:</label>
        {{ form.DOB(class="form-control") }}

        <div class="submitBTN">
            <button class="btn btn-primary" type="submit"> Edit</button>
            <button class="btn btn-secondary"><a href="{{ url_for('boars')}}">Cancel</a></button>
        </div>
        
    </form>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
</main>
{% endblock %}
