{% extends 'home.html' %}
{% block title %}sow edit form{% endblock %}

{% block head %}
<title>expenses</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/expenses.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css' )}}">
<script type="text/javascript" src="{{ url_for('static', filename='js/home.js')}}" defer></script>
{% endblock %}

{% block content %}
<main>
    <h2>Edit Sow</h2>

    <form class="form-fields" method="POST">
        {{ form.hidden_tag() }}
        <label for="date">Date: </label>    
        {{ form.date(autocomplete="off") }}
                    
        <label for="Amount">Amount: <br><p style="font-size:12px; color: #999;margin: 0;">*without currency symbol or points. e.g 2000</p></label>
        {{ form.amount(autocomplete="off") }}
        
        <label for="invoice_number">Invoice Number:</label>
        {{ form.invoice_number(autocomplete="off") }}

        <label for="Category">Category: </label>
        {{ form.category(autocomplete="off") }}
        
        <label for="Vendor">Vendor: </label>
        {{ form.vendor(autocomplete="off") }}
        
        <label for="Description">Description: </label>
        {{ form.description(autocomplete="off") }}

        <div class="submitBTN">
            <button class="btn btn-primary" type="submit"> Edit</button>
            <button class="btn btn-secondary"><a href="{{ url_for('expenses')}}">Cancel</a></button>
        </div>
</form>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
            <li class="flash {{ category|lower }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %} 
</form>
</main>
{% endblock %}
