{% extends 'home.html' %}
{% block title %}sow edit form{% endblock %}

{% block head %}
    <title>sows</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Flatpickr CSS & JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <!-- styling links -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css' )}}">
    <!-- javascript links -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/home.js')}}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/flash.js')}}" defer></script>  
{% endblock %}

{% block content %}
<main>
    <h2>Edit Sow</h2>

    <form method="POST" action="{{ url_for('edit_sow', sow_id=sow.id) }}">

        {{ form.hidden_tag() }}
        
        <label for="sowID">Sow ID:</label>
        {{ form.sowID(class="form-control", autocomplete="off") }}

        <label for="Breed">Breed:</label>
        {{ form.Breed(class="form-control", autocomplete="off") }}

        <label for="DOB">Date of Birth:</label>
        {{ form.DOB(class="form-control", id="dob_field") }}

        <div class="submitBTN">
            <button class="btn btn-primary" type="submit"> Edit</button>
            <a href="{{ url_for('sows')}}" class="btn btn-secondary" style="text-align: center;">Cancel</a>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                <li class="flash {{ category|lower }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %} 
    </form>



        <script>
            flatpickr("#dob_field",{
            dateFormat: "d-m-Y",
            maxDate: "today"
        }); 
        </script>
    
</main>
{% endblock %}
