{% extends 'home.html' %}
{% block title %}Expenses{% endblock %}
{% block head %}
<title>expenses</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Flatpickr CSS & JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/expenses.css' )}}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/expenses.js')}}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css' )}}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/home.js')}}" defer></script>  

{% endblock %}
{% block content %}
<main>
    <h2 id="header">Expenses</h2>
    <form class="form-fields" method="POST">
            {{ form.hidden_tag() }}
            <label for="date">Date: </label>    
            {{ form.date(autocomplete="off",id="expense_field") }}
                        
            <label for="Amount">Amount: </label>
            {{ form.amount(autocomplete="off") }}
            
            <label for="invoice_number">Invoice Number:</label>
            {{ form.invoice_number(autocomplete="off") }}

            <label for="Category">Category: </label>
            {{ form.category(autocomplete="off") }}
            
            <label for="Vendor">Vendor: </label>
            {{ form.vendor(autocomplete="off") }}
            
            <label for="Description">Description: </label>
            {{ form.description(autocomplete="off") }}
            <div class="submitBTN">
                {{form.submit}}
            </div>
    </form>
        <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <table class="expense-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Reciept number</th>
                <th>Category</th>
                <th>Vendor</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        {% if expenses %}
            <tbody>
                {% for expense in expenses %}
                <tr>
                    <td data-cell="Date: ">{{ expense.date.strftime('%d-%b-%y') }}</td>
                    <td data-cell="Amount: ">K{{ "{:,.2f}".format(expense.amount) }}</td>
                    <td data-cell="Reciept Number: ">{{ expense.invoice_number }}</td>
                    <td data-cell="Category: ">{{ expense.category }}</td>
                    <td data-cell="Vendor: ">{{ expense.vendor }}</td>
                    <td data-cell="Description: ">{{ expense.description }}</td>
                    <td class="actions-column">
                        
                            <div class="buttons">
                                <form class="form-btns" method="POST" action="{{ url_for('edit_expense', expense_id=expense.id)}}">
                                    {{ form.hidden_tag() }}
                                    <button class="action-btn edit" >
                                        <span class="action-txt">Edit</span>
                                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M160-120v-170l527-526q12-12 27-18t30-6q16 0 30.5 6t25.5 18l56 56q12 11 18 25.5t6 30.5q0 15-6 30t-18 27L330-120H160Zm80-80h56l393-392-28-29-29-28-392 393v56Zm560-503-57-57 57 57Zm-139 82-29-28 57 57-28-29ZM560-120q74 0 137-37t63-103q0-36-19-62t-51-45l-59 59q23 10 36 22t13 26q0 23-36.5 41.5T560-200q-17 0-28.5 11.5T520-160q0 17 11.5 28.5T560-120ZM183-426l60-60q-20-8-31.5-16.5T200-520q0-12 18-24t76-37q88-38 117-69t29-70q0-55-44-87.5T280-840q-45 0-80.5 16T145-785q-11 13-9 29t15 26q13 11 29 9t27-13q14-14 31-20t42-6q41 0 60.5 12t19.5 28q0 14-17.5 25.5T262-654q-80 35-111 63.5T120-520q0 32 17 54.5t46 39.5Z"/></svg>
                                    </button>
                                </form>
                                <span class="separator">|</span>
                                <form class="form-btns" method="POST" action="{{ url_for('delete_expense', expense_id=expense.id) }}" onsubmit="return confirmDelete();">
                                    {{ form.hidden_tag() }}
                                    <button class="action-btn delete" >
                                        <span class="action-txt">Delete</span>
                                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>                    
                                    </button>
                                </form>
                            </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <p>Total Expense: <span id="totalExpense">Loading...</span> </p>

                    </td>
                </tr>
            </tfoot>
        {% else %}
            <tbody class="no_records_found">
                <tr>
                    <td colspan="10" style="text-align: center;">No Expenses Recorded.</td>
                </tr>
            </tbody>
        {% endif %}
    </table>
    <!-- Pagination Controls -->
<div class="pagination-container">
    {% if pagination.has_prev %}
        <a href="{{ url_for('invoices', page=pagination.prev_num) }}" class="pagination-btn">Previous</a>
    {% endif %}
    
    {% for page_num in pagination.iter_pages() %}
        {% if page_num %}
            <a href="{{ url_for('invoices', page=page_num) }}" class="pagination-btn {% if page_num == pagination.page %}active{% endif %}">{{ page_num }}</a>
        {% else %}
            <span class="pagination-dots">...</span>
        {% endif %}
    {% endfor %}
    
    {% if pagination.has_next %}
        <a href="{{ url_for('invoices', page=pagination.next_num) }}" class="pagination-btn">Next</a>
    {% endif %}
</div>
<script>
    flatpickr("#expense_field",{
        dateFormat: "d-m-Y"
    });
</script>
</main>
{% endblock %}
