{% extends 'home.html' %}
{% block title %}Expenses{% endblock %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/expenses.css' )}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css' )}}">
<script type="text/javascript" src="{{ url_for('static', filename='js/home.js')}}" defer></script>  
<script type="text/javascript" src="{{ url_for('static', filename='js/expenses.js')}}" defer></script>

{% endblock %}
{% block content %}
<main>
    <h2 id="header">Expenses</h2>
    <form method="POST">
            {{ form.hidden_tag() }}
            <label for="date">Date: </label>    
            {{ form.date(autocomplete="off") }}
            <!-- <br> -->            
            <label for="Amount">Amount: <br><p style="font-size:12px; color: #999;margin: 0;">*without currency symbol or points. e.g 2000</p></label>
            {{ form.amount(autocomplete="off") }}
            <!-- <br> -->
            <label for="Category">Category: </label>
            {{ form.category(autocomplete="off") }}
            <!-- <br> -->
            <label for="Vendor">Vendor: </label>
            {{ form.vendor(autocomplete="off") }}
            <!-- <br> -->
            <label for="Description">Description: </label>
            {{ form.description(autocomplete="off") }}
            <div class="submitBTN">
                {{form.submit}}
            </div>
    </form>
        <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <table class="expense-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Vendor</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        {% if expenses %}
            <tbody>
                {% for expense in expenses %}
                <tr>
                    <td data-cell="Date: ">{{ expense.date.strftime('%d-%b-%y') }}</td>
                    <td data-cell="Amount: ">K{{ "{:,.2f}".format(expense.amount) }}</td>
                    <td data-cell="Category: ">{{ expense.category }}</td>
                    <td data-cell="Vendor: ">{{ expense.vendor }}</td>
                    <td data-cell="Description: ">{{ expense.description }}</td>
                    <td class="actions-column">
                        <form class="form-btns" action="">
                            {{ form.hidden_tag() }}
                        <button class="action-btn" >
                            <span class="action-txt">Edit</span>
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
                        </button>
                        </form>

                        <span class="separator">|</span>

                        <form class="form-btns" method="POST" action="{{ url_for('delete_expense', expense_id=expense.id) }}" onsubmit="return confirmDelete();">
                            {{ form.hidden_tag() }}
                            <button class="action-btn" >
                                <span class="action-txt">Delete</span>
                                <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#333"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>                    
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <tbody class="no_records_found">
                <tr>
                    <td colspan="10" style="text-align: center;">No Expenses Recorded.</td>
                </tr>
            </tbody>
        {%endif %}
    </table>
</main>
{% endblock %}
