<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot_password.css') }}">
    <title>Forgot Password</title>
</head>
<body>
    <main class="container">  
    <h1>Forgot Password</h1>
    <form class="form-class" method="POST" action="{{ url_for('forgot_password') }}">
       {{form.hidden_tag()}}
       {{form.email(class="form-control")}}
       {{form.submit(class="btn btn-primary", type="submit")}}
    </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                <li class="flash {{ category|lower }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    <div class="signin-signup">
        <p>Remembered your password? <a href="{{ url_for('signin') }}">Sign In</a></p>
        <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a></p>
    </div>
</main>
</body>
</html>