{% extends "home.html" %}

{% block head %}
    <title>herd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/herds.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/home.js')}}" defer></script>
{% endblock %}

{% block content %}
<main>
    <h2> Herd </h2>
        <table>
            <thead>
                <tr>
                    <th>Sow ID</th>
                    <th>Service Date</th>
                    <th>Due Date</th>
                    <th>Farrow Date</th>
                    <th>Total Animals</th>
                </tr>
            </thead>
            {% for litter in herd %}
            <tbody>
                <tr>
                    <td>{{ litter.sow.sowID }}</td>
                    <td>{{ litter.service_records.service_date.strftime('%d-%b-%Y') }}</td>
                    <td>{{ litter.service_records.due_date.strftime('%d-%b-%Y') }}</td>
                    <td>{{ litter.farrowDate.strftime('%d-%b-%Y') }}</td>
                    <td>{{ litter.bornAlive}}</td>
                </tr>
            </tbody>
            {% endfor %}
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total: </td>
                    <td> </td>
                </tr>
            </tfoot>
        </table>
</main>
{% endblock %}