{% extends 'home.html' %}
{% block title %}
Litter Records for {{ sow.sowID }}
{% endblock %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/litters.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/litters.js')}}" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/home.js')}}" defer></script>  

{% endblock %}
{% block content %}
<main>
    <h2>Litter Records</h2>
    <form class="container" method="POST" action="">
        {{form.hidden_tag()}}

        <label for="farrowDate">Farrow Date</label>
        {{ form.farrowDate(autocomplete="off") }}

        <label for="totalBorn">Total Born</label>
        {{ form.totalBorn(autocomplete="off") }}

        <label for="bornAlive">Born Alive</label>
        {{ form.bornAlive(autocomplete="off") }}

        <label for="stillBorn">Still Born</label>
        {{ form.stillBorn(autocomplete="off") }}

        <label for="weights">Weights </label>
        {{ form.weights(autocomplete="off") }}

        <div class="submitBTN">
            {{form.submit}}
        </div>
    </form>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="text-n-button">
        <h2>Service Records</h2>
        <button onclick="goBack(service_id)">
            <span>back</span>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M280-200v-80h284q63 0 109.5-40T720-420q0-60-46.5-100T564-560H312l104 104-56 56-200-200 200-200 56 56-104 104h252q97 0 166.5 63T800-420q0 94-69.5 157T564-200H280Z"/></svg>
        </button>
    </div>
<table>
    <thead>
        <tr>
            <th>Farrow</th>
            <th>Total Born</th>
            <th>Born Alive</th>
            <th>Still Born</th>
            <th>Avg. Wt</th>
            <th>Iron Inj.</th>
            <th>Teeth Clip.</th>
            <th>Tail Dock.</th>
            <th>Castration</th>
            <th>Weaning</th>
        </tr>
    </thead>
    {% if serviceRecord.Litter_records %}
    <tbody>
            {% for data in serviceRecord.Litter_records %}
            <tr>
                <td data-cell="Farrow Date:">   {{ data.farrowDate.strftime('%d-%b-%Y') }}</td>
                <td data-cell="Total Born:">    {{ data.totalBorn }}</td>
                <td data-cell="Born Alive:">    {{ data.bornAlive }}</td>
                <td data-cell="Still Born:">    {{ data.stillBorn }}</td>
                <td data-cell="Average Weight:">{{ data.averageWeight }}</td>
                <td data-cell="Iron Injection:">{{ data.iron_injection_date.strftime("%d-%b-%Y") }}</td>
                <td data-cell="Teeth Clipping:">{{ data.teeth_clipping_date.strftime("%d-%b-%Y") }}</td>
                <td data-cell="Tail Dorking:">  {{ data.tail_dorking_date.strftime("%d-%b-%Y") }}</td>
                <td data-cell="Castration:">    {{ data.castration_date.strftime("%d-%b-%Y") }}</td>
                <td data-cell="Weaning:">       {{ data.wean_date.strftime('%d-%b-%Y') }}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% else %}
        <tbody class="no_records_found">
            <tr>
                <td colspan="10" style="text-align: center;">No records found.</td>
            </tr>
        </tbody>
        {% endif %}
</table>
</main>
{% endblock %}