<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- ============================================
     PAGE LOADER COMPONENT
     ============================================ -->

<!-- Full Page Loader -->
<div id="page-loader" class="page-loader">
    <div class="loader-content">
        <div class="loader-logo">
            <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z" fill="#10a37f"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 13C17.5228 13 22 17.4772 22 23H2C2 17.4772 6.47715 13 12 13Z" fill="#0e8e72"/>
            </svg>
        </div>
        <div class="loader-spinner">
            <div class="spinner-ring"></div>
            <div class="spinner-ring"></div>
            <div class="spinner-ring"></div>
        </div>
        <p class="loader-text">Loading<span class="loading-dots"></span></p>
    </div>
</div>

<!-- Mini Loader for AJAX requests -->
<div id="mini-loader" class="mini-loader">
    <div class="mini-spinner"></div>
</div>
</body>
</html>