<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pig Management System</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>

    <!-- Hero Section -->
    <div class="header">
        <div class="container">
            <div class="welcome-message">
                <h1>Pig Management <span>Software</span></h1>
                <p> 
                    Streamline Your Pig Farming with Ease
                    Take control of your pig farm with our powerful, easy-to-use Pig Management Software. 
                    Track your pigs, monitor growth, and stay on top of their health—all in one place. Effortlessly manage expenses and revenue while accessing your data from anywhere in the world.
                    Make smarter decisions, save time, and boost your farm's productivity today!
                </p>
                    <a href="{{url_for('signin')}}">Get Started</a>
                </div>
        </div>
        <div class="image-div">
            <img src="/static/assets/logo.png" alt="">
        </div>
    </div>
    <div class="how-it-works">
        <h2>Keep Track of your Animals Birth Records</h2>
        <div class="laptop-mockup">
            <img src="/static/assets/1652c1231eb6f2ab2e6030ac4c6f0409.jpg" alt="">
        </div>
        <div class="cta">
            <p>
                Stay organized and never miss an important date! Keep track of your animals' birth records effortlessly. Whether for breeding, medical history, or just sentimental value, having accurate records is a game-changer.
            </p>
            <!-- <a href="#">Start tracking today! 📅✨</a> -->
            <a href="#">Start tracking today!</a>
        </div>  
    </div>
</body>
</html>
