<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reset_password.css') }}">
  <title>password reset</title>
  <script type="text/javascript" src="{{ url_for('static', filename='js/flash.js')}}" defer></script>
</head>
<body>
  <main class="container">
    <h1>Change password</h1>
    
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.new_password(class="form-control",autocomplete="off")}}
        {{ form.confirm_password(class="form-control",autocomplete="off") }}
        {{ form.submit(class="btn btn-primary", type="submit")}}
      </form>
      {% for error in form.confirm_password.errors %}
          <ul class="flashes">
            <li class="flash error">{{ error }}</li>
          </ul>
      {% endfor %}

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="flashes">
            {% for category, message in messages %}
              <li class="flash {{ category|lower }}">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}  
</main>
</body>
</html>