<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>reset password</title>
</head>
<body>
  <main>
    <h1>Change password</h1>
    
    <form method="post" action="" class="container">
        {{ form.hidden_tag() }}

        <label for="new_password">New Password</label>
        {{ form.new_password(autocomplete="off")}}

        <label for="confirm_password">Confirm Password</label>
        {{ form.confirm_password(autocomplete="off") }}

        <div class="submitBTN">
            {{ form.submit }}
        </div>

        {% for error in form.confirm_password.errors %}
            <ul class="flashes">
              <li class="flash error">{{ error }}</li>
            </ul>
        {% endfor %}

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="flashes">
              {% for category, message in messages %}
                <li class="flash {{ category|lower }}">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}  
    </form>
</main>
</body>
</html>