{% extends "home.html" %}

{% block title %}Settings{% endblock %}

{% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css' )}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css' )}}"> 
  <script type="text/javascript" src="{{ url_for('static', filename='js/home.js')}}" defer></script>
{% endblock %}

{% block content %}
<main>
    <h2>Settings</h2>
</main>
{% endblock %}