{% extends "home.html" %}

{% block title %}Settings{% endblock %}

{% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css' )}}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/settings.js')}}" defer></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css' )}}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/home.js')}}" defer></script>
{% endblock %}

{% block content %}
<main>
  <h2>Settings</h2>
  <li id="dark-mode-toggle" class="dark-mode-toggle" aria-label="toggle dark mode">
    <a href="javascript:void(1);">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
        <path d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm40-83q119-15 199.5-104.5T800-480q0-123-80.5-212.5T520-797v634Z"/>
      </svg>
      <span class="mobile-span">Theme</span>
      <span>Theme</span>
    </a>
  </li>    
</main>
{% endblock %}