<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Sign Up</title>
</head>
<body>
    <div class="container">
        <h1>Create an account</h1>
        <form class="form-class" action="" method="POST" >
            {{ form.hidden_tag() }}
            {{ form.username(id="username", class="form-control", autocomplete="off") }}
            {{ form.password(id="password", class="form-control") }}
            {{ form.submit(class="btn btn-primary", type='submit', value='Continue') }}         
        </form>
        <p>Already have an account? <a href="{{ url_for('signin')}}" class="dont-have-an-account">Login</a> </p>
        
        <div class="separator">
            <hr>
            <span> OR </span>
            <hr>
        </div>

        <div class="third-party">
            <a href="{{url_for('google_login')}}" >
                <img src="https://www.google.com/favicon.ico" alt="Google"> 
                <span>Continue With Google</span>
            </a>
        </div>
        <div class="terms">
            <a href="#" class="terms">Terms of Use </a> | 
            <a href="#" class="terms">Privacy Policy</a>
        </div>
     </div>
</body>
</html>