<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>

    <form method="POST" action="{{ url_for('signup') }}">
        {{ form.hidden_tag() }}
        <label for="username">Username:</label>
        {{ form.username(id="username", class="form-control", autocomplete="off") }}
        {% for error in form.username.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    
        <label for="password">Password:</label>
        {{ form.password(id="password", class="form-control", autocomplete="new-password") }}
        {% for error in form.password.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    
        {{ form.submit(class="btn btn-primary", type="submit") }}
    </form>
    

    <a href="{{url_for('signin')}}">Already have an account? Login.</a>
</body>
</html>