<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/flash.js')}}" defer></script>  
    <title>Sign In</title>
</head>
<body>
     <div class="container">
        <h1>Welcome Back</h1>
        <form class="form-class" action="" method="POST" >
            {{ form.hidden_tag() }}
            {{ form.identifier(id="identifier", class="form-control", autocomplete="off") }}
            {{ form.password(id="password", class="form-control") }}
            {{ form.submit(class="btn btn-primary", type='submit', value='Continue') }}         
        </form>
        <p>Don't have an account? <a href="{{ url_for('signup')}}" class="dont-have-an-account">Sign Up</a> </p>
        
        
        <div class="separator">
            <hr>
            <span> OR </span>
            <hr>
        </div>
        <!-- Flash Messages -->
         
        
        <div class="third-party">
            <a href="{{url_for('google_login')}}" >
                <img src="https://www.google.com/favicon.ico" alt="Google"> 
                <span>Continue With Google</span>
            </a>
        </div>
        
        <a class="forgotPassword" href="{{url_for('forgot_password')}}">I forgot my password</a>
        
        <!-- <div class="terms">
            <a href="#" class="terms">Terms of Use </a> | 
            <a href="#" class="terms">Privacy Policy</a>
        </div> -->
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                    <li class="flash {{ category|lower }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
     </div>
</body>
</html>