{% extends 'home.html' %}
{% block title %}Dashboard{% endblock %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css' )}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/sows.css')}}">
<script type="text/javascript" src="{{ url_for('static', filename='js/home.js')}}" defer></script>  

{% endblock %}
{% block content %}
<main>
    <h2 id="header">Sow Manager</h2>
    <form  class="container" method="POST">
        {{ form.hidden_tag() }}

        <label for="sowID">Sow ID</label>
        {{ form.sowID(autocomplete="off") }}
        
        <label for="DOB">Date Of Birth</label>
        {{ form.DOB(autocomplete="off") }}
        
        <div class="submitBTN">
            {{ form.submit}}
        </div>

    </form>
    <table class="sow-table" id="sowTable">
        <thead>
            <tr>
                <th>#</th>
                <th>Sow ID</th>
                <th>Date of Birth</th>
                <th>Action</th>
            </tr>
        </thead>
        {% if sows %}
        <tbody>
            {% for idx, sow in enumerate(sows, 1) %}
            <tr>
                <th>{{ idx }}</th>
                <th>{{ sow.sowID }}</th>
                <th>{{ sow.DOB.strftime('%d-%m-%Y') }}</th>
                <th class="sow-btns">
                    <form method="POST" action="" style="display:inline;">
                        <button type="submit" class="sow-btn">Delete</button>
                    </form>
                    <a href="">
                        <button type="button" class="sow-btn">View</button>
                    </a>
                </th>
            </tr>
            {% endfor %}
        </tbody>
        {% else %}
        <tbody>
            <tr>
                <td colspan="4" style="text-align:center;">No sows found.</td>
            </tr>
        </tbody>
        {% endif %}
    </table>
    
    <!-- <script>
        window.addEventListener('load', function () {
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.get('scroll') === 'sowTable') {
                const resultsDiv = document.getElementById('sowTable');
                if (resultsDiv) {
                    resultsDiv.scrollIntoView({ behavior: 'smooth' });
                }
            }
        });
    </script> -->
</main>
{% endblock %}