{% extends 'home.html' %}
{% block title %}Dashboard{% endblock %}
{% block head %}
<Title>Sows</Title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css' )}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/sows.css')}}">
<script type="text/javascript" src="{{ url_for('static', filename='js/home.js')}}" defer></script>  
<script type="text/javascript" src="{{ url_for('static', filename='js/sows.js')}}" defer></script>  

{% endblock %}
{% block content %}
<main>
    <h2 id="header">Sow Manager</h2>
    <form  class="container" method="POST" action="{{ url_for('sows') }}">
        {{ form.hidden_tag() }}

        <label for="sowID">Sow ID</label>
        {{ form.sowID(autocomplete="off") }}
        
        <label for="DOB">Date Of Birth</label>
        {{ form.DOB(autocomplete="off") }}
        
        <div class="submitBTN">
            {{ form.submit}}
        </div>
    </form>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <table class="sow-table" id="sowTable">
        <thead>
            <tr>
                <th>#</th>
                <th>Sow ID</th>
                <th>Date of Birth</th>
                <th>Action</th>
            </tr>
        </thead>
        {% if sows %}
        <tbody>
            {% for idx, sow in enumerate(sows, 1) %}
            <tr>
                <th>{{ idx }}</th>
                <th>{{ sow.sowID }}</th>
                <th>{{ sow.DOB.strftime('%d-%b-%Y') }}</th>
                <th class="for-desktop sow-btns actions-column">

                    <form class="form-btns" action="{{ url_for('sow_service_records', sow_id=sow.id) }}">
                        {{ form.hidden_tag() }}
                        <button class="action-btn">
                            <span class="action-txt">View</span>
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#333"><path d="M320-240h320v-80H320v80Zm0-160h320v-80H320v80ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"/></svg>
                        </button>  
                    </form> 

                    <span class="separator">|</span>

                    <form class="form-btns" action="">
                        {{ form.hidden_tag() }}
                    <button class="action-btn" >
                        <span class="action-txt">Edit</span>
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
                    </button>
                    </form>

                    <span class="separator">|</span>

                    <form class="form-btns" action="{{ url_for('delete_sow', sow_id=sow.sowID) }}" onsubmit="return confirmDelete();">
                        {{ form.hidden_tag() }}
                        <button class="action-btn" >
                            <span class="action-txt">Delete</span>
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#333"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>                    
                        </button>
                    </form>
                    
                </th>
                <th class="for-mobile sow-btns actions-column">
                    <button class="menu-btn" onclick="showMenu()">⋮</button>
                    <div class="dropdown-menu">

                        <form class="form-btns" action="{{ url_for('sow_service_records', sow_id=sow.id) }}">
                            {{ form.hidden_tag() }}
                            <button class="action-btn">
                                <span class="action-txt">View</span>
                                <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#333"><path d="M320-240h320v-80H320v80Zm0-160h320v-80H320v80ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"/></svg>
                            </button> 
                        </form>

                        <form action="{{ url_for('delete_sow', sow_id=sow.sowID) }}" onsubmit="return confirmDelete();">
                            {{ form.hidden_tag() }}
                            <button class="action-btn">
                                <span class="action-txt">Delete</span>
                                <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#333"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>                    
                            </button>
                        </form>

                        <form action="">
                            {{ form.hidden_tag() }}
                            <button class="action-btn">
                                    <span class="action-txt">Edit</span>
                                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
                            </button>
                        </form>

                    </div>
                </th>
            </tr>
            {% endfor %}
        </tbody>
        {% else %}
        <tbody>
            <tr>
                <td colspan="4" style="text-align:center;">No sows found.</td>
            </tr>
        </tbody>
        {% endif %}
    </table>
</main>
{% endblock %}